<h1>It's drink o' clock somewhere...</h1>

<p>
  At Brewhunter our mission is simple: YOU want to get smashed and WE want to help you by connecting you to local breweries that are tailored specifically to YOU(our customer). IF you somehow are able to remember the night before and you liked the bar you went to, rate it so we can connect you to even more poor and unsuspecting victims bacause lets face it: you are a degenerate that likes terrorizing his neighborhoood by going into an uncontrollable, alcohol induzed, destructive (and self-destructive) spree.
</p>

<!-- <%= link_to 'New Brewery', new_brewery_path %> -->
